3rd-party/boost
3rd-party/boost_*
3rd-party/protobuf
hft/hft-config.h
hft/CMakeCache.txt
hft/cmake_install.cmake
hft/Makefile
hft/reconfig.status
hft/hft
hft/CMakeFiles
packages/exchange/RPMS/*
packages/exchange/DEBS/*
packages/exchange/SOURCES/*
bridges/dukascopy/export/*
bridges/dukascopy/target
bridges/dukascopy/pom.xml
bridges/ctrader/hft2ctrader-config.h
bridges/ctrader/CMakeCache.txt
bridges/ctrader/cmake_install.cmake
bridges/ctrader/Makefile
bridges/ctrader/reconfig.status
bridges/ctrader/CMakeFiles
bridges/ctrader/hft2ctrader
bridges/ctrader/OpenApiCommonMessages.pb.h
bridges/ctrader/OpenApiCommonMessages.pb.cc
bridges/ctrader/OpenApiModelMessages.pb.h
bridges/ctrader/OpenApiModelMessages.pb.cc
bridges/ctrader/OpenApiMessages.pb.h
bridges/ctrader/OpenApiMessages.pb.cc
bridges/ctrader/OpenApiCommonModelMessages.pb.h
bridges/ctrader/OpenApiCommonModelMessages.pb.cc
instrument-handlers/smart_martingale/CMakeCache.txt
instrument-handlers/smart_martingale/cmake_install.cmake
instrument-handlers/smart_martingale/install_manifest.txt
instrument-handlers/smart_martingale/libsmart_martingale.so.*
instrument-handlers/smart_martingale/libsmart_martingale.so
instrument-handlers/smart_martingale/Makefile
instrument-handlers/smart_martingale/CMakeFiles
instrument-handlers/trend_tracker/CMakeCache.txt
instrument-handlers/trend_tracker/cmake_install.cmake
instrument-handlers/trend_tracker/install_manifest.txt
instrument-handlers/trend_tracker/libtrend_tracker.so.*
instrument-handlers/trend_tracker/libtrend_tracker.so
instrument-handlers/trend_tracker/Makefile
instrument-handlers/trend_tracker/CMakeFiles
instrument-handlers/simple_tracker/CMakeCache.txt
instrument-handlers/simple_tracker/cmake_install.cmake
instrument-handlers/simple_tracker/install_manifest.txt
instrument-handlers/simple_tracker/libsimple_tracker.so.*
instrument-handlers/simple_tracker/libsimple_tracker.so
instrument-handlers/simple_tracker/Makefile
instrument-handlers/simple_tracker/CMakeFiles
instrument-handlers/bottom_scrubbing/CMakeCache.txt
instrument-handlers/bottom_scrubbing/cmake_install.cmake
instrument-handlers/bottom_scrubbing/install_manifest.txt
instrument-handlers/bottom_scrubbing/libbottom_scrubbing.so.*
instrument-handlers/bottom_scrubbing/libbottom_scrubbing.so
instrument-handlers/bottom_scrubbing/Makefile
instrument-handlers/bottom_scrubbing/CMakeFiles
instrument-handlers/blsh/CMakeCache.txt
instrument-handlers/blsh/cmake_install.cmake
instrument-handlers/blsh/install_manifest.txt
instrument-handlers/blsh/libblsh.so.*
instrument-handlers/blsh/libblsh.so
instrument-handlers/blsh/Makefile
instrument-handlers/blsh/CMakeFiles
instrument-handlers/grid/CMakeCache.txt
instrument-handlers/grid/cmake_install.cmake
instrument-handlers/grid/install_manifest.txt
instrument-handlers/grid/libgrid.so.*
instrument-handlers/grid/libgrid.so
instrument-handlers/grid/Makefile
instrument-handlers/grid/CMakeFiles
instrument-handlers/xgrid/CMakeCache.txt
instrument-handlers/xgrid/cmake_install.cmake
instrument-handlers/xgrid/install_manifest.txt
instrument-handlers/xgrid/libxgrid.so.*
instrument-handlers/xgrid/libxgrid.so
instrument-handlers/xgrid/Makefile
instrument-handlers/xgrid/CMakeFiles
instrument-handlers/pyramid/CMakeCache.txt
instrument-handlers/pyramid/cmake_install.cmake
instrument-handlers/pyramid/install_manifest.txt
instrument-handlers/pyramid/Makefile
instrument-handlers/pyramid/CMakeFiles
instrument-handlers/pyramid/libpyramid.so.*
instrument-handlers/pyramid/libpyramid.so
