3rd-party/boost
3rd-party/boost_*
3rd-party/protobuf
etc/deploy/hft-config.xml
hft/hft-config.h
hft/CMakeCache.txt
hft/cmake_install.cmake
hft/Makefile
hft/reconfig.status
hft/hft
hft/CMakeFiles
rpm-gen/exchange/RPMS/*
rpm-gen/exchange/SOURCES/*
bridges/dukascopy/export/*
bridges/dukascopy/target
bridges/dukascopy/pom.xml
bridges/ctrader/hft2ctrader-config.h
bridges/ctrader/CMakeCache.txt
bridges/ctrader/cmake_install.cmake
bridges/ctrader/Makefile
bridges/ctrader/reconfig.status
bridges/ctrader/CMakeFiles
bridges/ctrader/hft2ctrader
bridges/ctrader/OpenApiCommonMessages.pb.h
bridges/ctrader/OpenApiCommonMessages.pb.cc
bridges/ctrader/OpenApiModelMessages.pb.h
bridges/ctrader/OpenApiModelMessages.pb.cc
bridges/ctrader/OpenApiMessages.pb.h
bridges/ctrader/OpenApiMessages.pb.cc
bridges/ctrader/OpenApiCommonModelMessages.pb.h
bridges/ctrader/OpenApiCommonModelMessages.pb.cc
instrument-handlers/smart_martingale/CMakeCache.txt
instrument-handlers/smart_martingale/cmake_install.cmake
instrument-handlers/smart_martingale/install_manifest.txt
instrument-handlers/smart_martingale/libsmart_martingale.so.*
instrument-handlers/smart_martingale/libsmart_martingale.so
instrument-handlers/smart_martingale/Makefile
instrument-handlers/smart_martingale/CMakeFiles
instrument-handlers/trend_tracker/CMakeCache.txt
instrument-handlers/trend_tracker/cmake_install.cmake
instrument-handlers/trend_tracker/install_manifest.txt
instrument-handlers/trend_tracker/libtrend_tracker.so.*
instrument-handlers/trend_tracker/libtrend_tracker.so
instrument-handlers/trend_tracker/Makefile
instrument-handlers/trend_tracker/CMakeFiles
