3rd-party/boost
3rd-party/boost_*
etc/deploy/hft-config.xml
hft/hft-config.h
hft/CMakeCache.txt
hft/cmake_install.cmake
hft/Makefile
hft/reconfig.status
hft/hft
hft/CMakeFiles
rpm-gen/exchange/RPMS/*
rpm-gen/exchange/SOURCES/*
bridges/dukascopy/export/*
bridges/dukascopy/target
bridges/dukascopy/pom.xml
instrument-handlers/growth_pyramid
instrument-handlers/growth_pyramid-original
instrument-handlers/turbo_argentina
instrument-handlers/smart_martingale/CMakeCache.txt
instrument-handlers/smart_martingale/cmake_install.cmake
instrument-handlers/smart_martingale/install_manifest.txt
instrument-handlers/smart_martingale/libsmart_martingale.so.*
instrument-handlers/smart_martingale/libsmart_martingale.so
instrument-handlers/smart_martingale/Makefile
instrument-handlers/smart_martingale/CMakeFiles
